.page-login {
	padding-top: 102px;
	padding-bottom: 102px;

	background: url(%=staticPrefixForCss=%general/bg.jpg) no-repeat;
	background-size: cover;

	font-family: "Arial";
}

.login {
	width: 383px;
	margin: auto;
	padding-top: 43px;
	padding-bottom: 42px;

	background-color: #fff;
	&__logo {
		margin: 0 auto 39px;

		@include bg($logo);
	}
}

.login-form {
	&__element {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding-left: 35px;

		border: 0;
		background-color: #f8f8f7;
		box-shadow: inset 1px 1px 3px rgba(0,0,0,.26);

		font-size: 14px;
		&:focus {
			outline: none;
		}
	}
	&__submit {
		display: block;

		box-sizing: border-box;
		width: 250px;
		height: 42px;
		margin: auto;

		color: #fff;
		border: 0;
		background-color: #62a513;

		font-size: 17px;
		&:hover {
			background-color: #62a513 + #111;
		}
	}
	&__show {
		position: absolute;
		top: 1px;
		right: 0;

		width: 23px;
		height: 94%;

		background-color: #fff;
		box-shadow: 0 0 1px rgba(0,0,0,.26);
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			display: block;

			margin: auto;

			content: "";

			@include bg($view);
		}
		&:hover {
			cursor: pointer;
		}
	}
}

.login-form-element {
	position: relative;

	width: 250px;
	height: 36px;
	margin: 0 auto 15px;
	&:before {
		position: absolute;
		top: 12px;
		left: 13px;

		display: block;

		content: "";
	}
	&--user {
		&:before {
			@include bg($user);
		}
	}
	&--password {
		&:before {
			@include bg($password);
		}
	}
}

.registration-button {
	display: block;

	box-sizing: border-box;
	width: 383px;
	height: 62px;
	margin: 49px auto 51px;

	text-align: center;
	text-decoration: none;

	color: #bdc5cc;
	border: 2px dashed;

	font-size: 22px;
	line-height: 58px;
	&:hover {
		color: #fff;
		border-color: transparent;
		background-color: #bdc5cc;
	}
}

.contacts {
	text-align: center;

	color: #afafaf;

	font-size: 12px;
	&__row {
		&:first-child {
			margin-bottom: 20px;
		}
	}
	p {
		margin: 0;
	}
}
