.login {
	width: 383px;
	margin: 100px auto 0;
	padding-top: 43px;
	padding-bottom: 42px;

	background-color: #fff;
	&__logo {
		margin: 0 auto 39px;

		@include bg($logo);
	}
}

.registration-button {
	display: block;

	box-sizing: border-box;
	width: 383px;
	height: 62px;
	margin: 49px auto 51px;

	text-align: center;
	text-decoration: none;

	color: #bdc5cc;
	border: 2px dashed;

	font-size: 22px;
	line-height: 58px;
	&:hover {
		color: #fff;
		border-color: transparent;
		background-color: #bdc5cc;
	}
}

.contacts {
	margin-bottom: 100px;
	text-align: center;

	color: #afafaf;

	font-size: 12px;
	&__row {
		&:first-child {
			margin-bottom: 20px;
		}
	}
	p {
		margin: 0;
	}
}
