mixin registration()
	.registration
		.registration__login

		form(action="" method="").form
			.form-element.form-element--large
				input(type="text" value="" placeholder="Ваш логин").form__element.form__element--large
			.form-element.form-element--large
				input(type="email" value="" placeholder="Емейл").form__element.form__element--large
			.form-element.form-element--inline
				input(type="password" value="" placeholder="Пароль").form__element.form__element--medium
				input(type="password" value="" placeholder="Еще раз").form__element.form__element--medium
			.form-element.form-element--inline
				label.form__label.form__label--inline Пинкод для восстановления пароля 
					span (4 знака)
				input(type="text" value="" placeholder="*").form__element.form__element--cubic
				input(type="text" value="" placeholder="*").form__element.form__element--cubic
				input(type="text" value="" placeholder="*").form__element.form__element--cubic
				input(type="text" value="" placeholder="*").form__element.form__element--cubic
			.form-element.form-element--medium
				label.form__label Источник трафика
				textarea.form__element.form__element--textarea
			.form-element.form-element--medium
				label.form__label Предполагаемое количество подписок в сутки 
				input(type="text" value="" placeholder="").form__element.form__element--noheight
			.form-element.form-element--medium
				label.form__label Ваши контакты
				textarea.form__element.form__element--textarea
			
			input(type="submit" value="Зарегистрироваться").form__submit.form__submit--registration

			.registration__back 
				a(href="#" title="") вернуться на главную

	.contacts
		.contacts__row 
			p Служба Поддержки: ICQ 468144742
			em (регистрация, помощь, текущие вопросы)
		.contacts__row
			p Администрация: ICQ 640190028
			em (VIP-партнеры, жалобы) 