mixin complete()
	.complete
		.complete__logo
		.complete__text Регистрация прошла успешно. В течение 24 часов с Вами свяжется Служба Поддержки для активации логина
		.registration__back 
			a(href="#" title="") вернуться на главную