.complete {
	position: relative;
	top: 100px;

	margin-top: 0 !important;

	@extend .login;
	&__logo {
		@extend .registration__login;
	}
	&__text {
		padding: 15px 25px 15px 25px;

		text-align: center;

		font-size: 21px;
		font-weight: bold;
		line-height: 28px;
	}
}
